<% layout("/layouts/boilerplate") -%>

    <body>
        <div class="row">
            <div class="col-8 offset-2">
                <h3 class="py-4">Edit your Listings</h3>
                <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" class="py-3">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title : </label>
                        <input type="text" class="form-control" name="listing[title]" value="<%= listing.title %>">
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description : </label>
                        <textarea name="listing[description]" id="" value="<%=listing.description%>"
                            class="form-control"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Image : </label>
                        <input type="text" class="form-control" name="listing[image]" value="<%= listing.image.url%>">
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price : </label>
                            <input type="number" class="form-control" name="listing[price]"
                                value="<%= listing.price %>">
                        </div>


                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country : </label>
                            <input type="text" class="form-control" name="listing[country]"
                                value="<%= listing.country %>">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="loaction" class="form-label">Location : </label>
                        <input type="text" class="form-control" name="listing[location]"
                            value="<%= listing.location %>">
                    </div>
                    <button class="btn btn-dark add-btn">Edit</button>

                </form>
            </div>
        </div>
    </body>

    </html>